html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

:focus {
outline: none;
}

h1, h2, h3, p, ul, ol {
  margin-top: 0;
}

li {
  list-style: none;  
}


pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
  color: inherit;
}

img {
  border-style: none;
}